.main-content {
    text-align: center;
    padding: 50px;
}

.main-content h2 {
    margin-bottom: 20px;
}

.playlist,
.recommended {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-right: 5%;
}

.playlist h3,
.recommended h3 {
    margin-bottom: 10px;
}

.playlist ul,
.recommended ul {
    list-style-type: none;
    padding: 0;
}

.playlist ul li,
.recommended ul li {
    margin-bottom: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    color: black;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

body {
    background-color: black;
    color: white;
    font-family: monospace;
    margin: 0;
}